<div class="dashboard_summary">
    <div class="row dashboard_custom_panel">
        <div class="col-sm-6 col-lg-3 navbar-btn">
            <div class="panel panel-red">
                <div class="dashboard-heading">
                    <div class="row">
                        <div class="col-xs-4 text-right">
                            <div class="add-icon-bg"> <i class="fa fa-users fa-2x fa-inverse"></i> </div>
                        </div>

                        <div class="col-xs-8 description">
                            <div class="">{{adminstats.total_service_provider_user_count}}</div>
                            <div class="description-stats">Service Providers</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3 navbar-btn" >
            <div class="panel panel-red">
                <div class="dashboard-heading">
                    <div class="row">
                        <div class="col-xs-4 text-right">
                            <div class="add-icon-bg"> <i class="fa fa-cogs fa-2x fa-inverse"></i> </div>
                        </div>

                        <div class="col-xs-8 description">
                            <div class="">{{adminstats.total_customer_user_count}}</div>
                            <div class="description-stats">Customers</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3 navbar-btn">
            <div class="panel panel-red">
                <div class="dashboard-heading">
                    <div class="row">
                        <div class="col-xs-4 text-right">
                            <div class="add-icon-bg"> <i class="fa fa-reply fa-2x fa-inverse"></i> </div>
                        </div>

                        <div class="col-xs-8 description">
                            <div class="">{{adminstats.total_appointment_count}}</div>
                            <div class="description-stats">Appointments</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3 navbar-btn">
            <div class="panel panel-red">
                <div class="dashboard-heading">
                    <div class="row">
                        <div class="col-xs-4 text-right">
                            <div class="add-icon-bg"> <i class="fa fa-recycle fa-2x fa-inverse"></i> </div>
                        </div>

                        <div class="col-xs-8 description">
                            <div class="">{{adminstats.total_transaction_amount}}</div>
                            <div class="description-stats">Turnover</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3 navbar-btn">
            <div class="panel panel-red">
                <div class="dashboard-heading">
                    <div class="row">
                        <div class="col-xs-4 text-right">
                            <div class="add-icon-bg"> <i class="fa fa-usd fa-2x fa-inverse"></i> </div>
                        </div>
                        <div class="col-xs-8 description">
                            <div class="">{{adminstats.total_site_revenue}}</div>
                            <div class="description-stats">Revenue <span> (<i class="glyphicon glyphicon-usd"></i>) </span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>