<section class="edit-profile change-password">
    <div class="container">
		<div class="form-content">
            <h3 class="clearfix page-head">
                    <div class="pull-left no-mar"><a href="users/user_profile"><button class="btn btn-info btn-sm back-btn" title="back to profile" ><span><i class="fa fa-chevron-left fa-fw" aria-hidden="true"></i></span></button></a></div>
                    <div class="pull-left text-center">{{'Account - Password' | translate}}</div>
                </h3>  
        	<form method="post" name="changePasswordForm" ng-submit="change_password(changePasswordForm.$valid, user)" novalidate>
                <!--<h3 class="page-head">Account - Password & social login</h3>     -->
                <div class="form-body">
                    <h4>{{'Change Password' | translate}}</h4> 
                    <div class="form-group has-feedback" ng-class="{ 'has-error' : (changePasswordForm.$submitted || changePasswordForm.old_password.$touched) && (changePasswordForm.old_password.$pristine || changePasswordForm.old_password.$invalid) }">
                        <input class="form-control" type="password" name="old_password" ng-model="user.password" placeholder="{{'Current Password' | translate}}" ng-required="true" ng-minlength="6" ng-maxlength="40">
                        <span class="error" ng-show="(changePasswordForm.$submitted || changePasswordForm.old_password.$touched) && (changePasswordForm.old_password.$pristine || changePasswordForm.old_password.$invalid) && (changePasswordForm.old_password.$error.required)">{{'Enter Current Password' | translate}}</span>
                        <span class="error" ng-show="(changePasswordForm.$submitted || changePasswordForm.old_password.$touched) && (changePasswordForm.old_password.$pristine || changePasswordForm.old_password.$invalid) && (changePasswordForm.old_password.$error.minlength)">{{'Minimum length is 6' | translate}}</span>
                        <span class="error" ng-show="user.oldPassErr">{{user.oldPassErr}}</span>
                    </div>
                    <div class="form-group has-feedback"
                 ng-class="{ 'has-error' : (changePasswordForm.$submitted || changePasswordForm.new_password.$touched) && (changePasswordForm.new_password.$pristine || changePasswordForm.new_password.$invalid) }">
                        <input class="form-control" type="password" name="new_password" ng-model="user.new_password" placeholder="{{'New Password' | translate}}" ng-required="true" ng-minlength="6" ng-maxlength="40">
                        <span class="error" ng-show="(changePasswordForm.$submitted || changePasswordForm.new_password.$touched) && (changePasswordForm.new_password.$pristine || changePasswordForm.new_password.$invalid) && (changePasswordForm.new_password.$error.required)">{{'Enter New Password' | translate}}</span>
                        <span class="error" ng-show="(changePasswordForm.$submitted || changePasswordForm.new_password.$touched) && (changePasswordForm.new_password.$pristine || changePasswordForm.new_password.$invalid) && (changePasswordForm.new_password.$error.minlength)">{{'Minimum length is 6' | translate}}</span>
                        <span class="error" ng-show="(changePasswordForm.$submitted || changePasswordForm.new_password.$touched) && (changePasswordForm.new_password.$pristine || changePasswordForm.new_password.$invalid) && (changePasswordForm.new_password.$error.maxlength)">{{'Maximum length is 40' | translate}}</span>
                    </div>
                   <div class="form-group has-feedback"
                 ng-class="{ 'has-error' : (changePasswordForm.$submitted || changePasswordForm.confirm_new_password.$touched) && (changePasswordForm.confirm_new_password.$pristine || changePasswordForm.confirm_new_password.$invalid) }">
                        <input class="form-control" type="password" name="confirm_new_password" ng-model="user.confirm_password" ng-pattern="user.new_password" placeholder="{{'Re-type New Password' | translate}}" ng-required="true" ng-minlength="6" ng-maxlength="40">
                        <span class="error" ng-show="(changePasswordForm.$submitted || changePasswordForm.confirm_new_password.$touched) && (changePasswordForm.confirm_new_password.$pristine || changePasswordForm.confirm_new_password.$invalid) && (changePasswordForm.confirm_new_password.$error.required)">{{'Re-type New Password' | translate}}</span>
                        <span class="error" ng-show="(changePasswordForm.$submitted || changePasswordForm.confirm_new_password.$touched) && (changePasswordForm.confirm_new_password.$pristine || changePasswordForm.confirm_new_password.$invalid) && (changePasswordForm.confirm_new_password.$error.minlength)">{{'Minimum length is 6' | translate}}</span>
                        <span class="error" ng-show="(changePasswordForm.$submitted || changePasswordForm.confirm_new_password.$touched) && (changePasswordForm.confirm_new_password.$pristine || changePasswordForm.confirm_new_password.$invalid) && (changePasswordForm.confirm_new_password.$error.maxlength)">{{'Maximum length is 40' | translate}}</span>
                        <!--<span class="error" ng-show="(changePasswordForm.$submitted || changePasswordForm.confirm_new_password.$touched) && (changePasswordForm.new_password.$dirty && changePasswordForm.confirm_new_password.$dirty) && (user.confirm_new_password != user.new_password)">{{'Password Mismatch' | translate}}</span>-->
                        <span class="error" ng-show="changePasswordForm.confirm_new_password.$error.pattern">{{'Password Mismatch'| translate }}</span>
                    </div>
                </div>
                <div>
                    <button class="btn btn-info btn-animate" type="submit">{{'Save' | translate}}</button>
                </div>
            </form>   
            <!--<hr />    
            <h4>Social Login</h4>
            <div>
                <ul class="social-btn list-unstyled no-mar">
                    <li class="facebook" ng-repeat="provider in providers">
                        <a ng-if="provider.name=='Facebook'" data-provider="{{provider.name}}" ng-click="authenticate(provider.slug)" class="btn btn-facebook btn-block {{provider.button_class}}"> 
                            <i class="fa fa-facebook fa-fw fa-lg {{provider.icon_class}}"></i> <span>{{'Login with'|translate}} {{provider.name}}</span> 
                        </a>
                    </li>
                </ul>
             </div>-->
        </div>
    </div>
</section>