<section class="clearfix forgot-password">
    <div class="container">
    	<div class="login-page-height">
        	<div class="page-head">
                <h2>{{'Forgot your password?' | translate}}</h2>
            </div>
            <form class="form-login" method="post" name="forgotPassword" ng-submit="forgot_password(forgotPassword.$valid, user);forgotPassword.$setPristine()">
            	<div class="form-body">
                	<div class="alert alert-info">
                        {{'Please provide the email address. We\'ll send you an email with new password.' | translate}}
                    </div>
                    <div class="form-group clearfix mt15" ng-class="{ 'has-error' : (forgotPassword.$submitted || forgotPassword.email.$touched) && (forgotPassword.email.$pristine || forgotPassword.email.$invalid) }">
                        <input class="form-control" type="email" name="email" ng-model="user.email" placeholder="{{'Enter your email' | translate}}"  ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,8}$/" ng-required="true" autofocus>
                        <div class="help-block" ng-if="forgotPassword.email.$dirty" ng-messages="forgotPassword.email.$error">
                            <div class="error">
                                <span class="error" ng-show="(forgotPassword.$submitted || forgotPassword.email.$touched) && (forgotPassword.email.$pristine || forgotPassword.email.$invalid) && (forgotPassword.email.$error.required)">{{'You must enter your email' | translate }}</span>
                                <span class="error" ng-show="(forgotPassword.$submitted || forgotPassword.email.$touched) && (forgotPassword.email.$pristine || forgotPassword.email.$invalid) && (forgotPassword.email.$error.pattern)">{{'Enter valid email' | translate }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-footer">
                    <button type="submit" ng-disabled="forgotPassword.$invalid || disableButton" class="btn btn-info btn-animate btn-block" value="{{'Send' | translate}}">
                        {{'Send' | translate}}
                        <span ng-show="disableButton"><i class="fa fa-spinner fa-pulse fa-lg"></i></span>
                    </button>
                </div>
         	</form>
            <p class="text-center account-type">{{'Don\'t have an account yet?' | translate}}<a ng-href="users/register/customer">&nbsp;{{'Sign up' | translate}}</a></p>
      	</div>
   	</div>
</section>