<div class="edit-profile listing-photos">
    <div class="container checklist-content listing-details">
        <div> 
            <a href="users/listing" class="btn btn-link"> <span><i class="fa fa-angle-double-left fa-fw"></i> {{'Back to Listing' | translate }}</span></a>
        </div>       
        <h3 class="text-center">{{'Listing - Photos' | translate}}</h3>         
        <div class="description-details my-services">
            <div class="panel panel-stealth block-highlight">
                <div class="panel-body listing-details">
                    <h5 class="text-b text-15">{{'How to achieve an eye-catching listing' | translate }}</h5>
                    <ul>
                        <li>{{'Include at least 4 horizontal photos of yourself in your work environments (preferably in a working situation).' | translate }}</li>
                        <li>{{'Make sure your photos are bright and not blurry' | translate }}</li>
                    </ul>
                    <p><strong>{{'Pro tip:' | translate }}</strong> {{'Photos that are at least 1068×584 pixels will give your profile the best appearance. Use the zoom and the arrow to make sure your pictures are centered and clearly visible.' | translate }}</p>
                </div>
            </div>
        </div>       
        <div class="text-center search-table-field space">
            <a href="photos/add" class="btn btn-info btn-animate"><i class="fa fa-plus-circle fa-fw"></i>{{'Add New Photos' | translate}}</a>
        </div>
        <div id="tourpackages-carousel">
            <div class="branch-photos clearfix">
                <div class="col-sm-3 col-xs-6 col-md-3" ng-repeat="photo in photos" ng-show="photos.length > 0">
                    <div class="thumbnail">
                        <img ng-src="{{photo.listimage}}" title="{{'Photos' | translate }}" class="" alt="{{'Photos' | translate }}"> 
                        <a ng-click='photoDelete(photo.id)' title="{{'Delete' | translate}}" class="del"><i class="fa fa-trash"></i></a>
                    </div>
                </div>
                <div ng-show="photos.length == 0">
                    <p class="hor-space alert alert-danger text-center">{{'No images added' | translate}}</p>
                </div>
            </div><!-- End row -->    
        </div><!-- End container -->
 	</div>
</div>