<section class="edit-profile checklist-content">   
    <div class="container listing-details">
        <div> 
            <a href="users/listing" class="btn btn-link"> <span><i class="fa fa-angle-double-left fa-fw"></i> {{'Back to Listing' | translate}}</span></a>
        </div> 
        <div class="description-details">            
            <h3 class="text-center">{{'Your profile - About me'| translate}}</h3>           
            <div class="block-highlight">
                <div id="services-tips-wrapper" class="panel-body">
                    <div id="services-tips" class="accordion-body collapse-xs out" style="height: auto;">
                        <div class="accordion-inner">
                             <p>{{'Tell us your customer preferences and we will show your profile to customer who search and filter based on gender.' | translate}}</p>
                             <p>{{'You may still receive requests from customer that don\'t fully match your preferences as not everyone filters thoroughly.' | translate}}</p>
                             <p><strong>{{'Pro tip:' | translate}}</strong> {{'We also use your preferences to show you better results when you browse local marinas using the On Demand Service Marketplace mobile app.' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</section>    